name = "Downloader"
uuid = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
authors = ["Stefan Karpinski <stefan@karpinski.org> and contributors"]
version = "0.1.0"

[compat]
julia = "1.5"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
